<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csw.dao.CaixiDao">
    <select id="queryAllByName" resultType="Caixi">
    select * from caixi where name like '%${name}%'
</select>
    <select id="queryAll" resultType="Caixi">
        select * from caixi
    </select>
    <insert id="add">
        insert into caixi values(#{c.id},#{c.name})
    </insert>
</mapper>
